* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    background-color: black;
}

ul {
    display: flex;
    align-items: center;
    justify-content: center;

    background-color: darkcyan;
    width: 100%;
    height: 400px;
}

ul li {
    display: flex;
    align-items: center;
    justify-content: center;

    color:forestgreen
}

h1  {
    color: aqua;
}

#container {
    background-color: lightblue;
    width: 100%;
    height: 400px;

    display: flex;
    align-items: center; /*alinha verticalmente as caixas*/
    justify-content: center; /*alinha horizontalmente as caixas*/
}

.caixa {
    width: 200px;
    height: 200px;
    border: 5px solid red;

    display: flex;
    align-items: center;
    justify-content: center;
}